/* styles.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Estilos para pantallas grandes (por ejemplo, más de 1200px de ancho) */
@media (min-width: 1200px) {
  body{
    background-color: blue;
  }
  th:nth-child(5), td:nth-child(5) {
    display: none; /* Oculta la quinta columna */
  }
  
  th:nth-child(7), td:nth-child(7) {
    display: none; /* Oculta la séptima columna */
  }
}

/* Estilos para pantallas más pequeñas (por ejemplo, hasta 992px de ancho) */
@media (max-width: 992px) {
  body{
    background-color: orange;
  }
  th:nth-child(4), td:nth-child(4) {
    display: none; /* Oculta la cuarta columna */
  }
  
  th:nth-child(6), td:nth-child(6) {
    display: none; /* Oculta la sexta columna */
  }
}

/* Estilos para pantallas más pequeñas aún (por ejemplo, hasta 600px de ancho) */
@media (max-width: 600px) {
  body{
    background-color: lightcoral;
  }
  th, td{
    display: none;
  }
  th:nth-child(1), td:nth-child(1) {
    display: table-cell; /* Oculta la tercera columna */
  }
  
  th:nth-child(2), td:nth-child(2) {
    display: table-cell; /* Oculta la quinta columna */
  }
  th:nth-child(8), td:nth-child(8) {
    display: table-cell; /* Oculta la quinta columna */
  }
  th:nth-child(6), td:nth-child(6) {
    display: table-cell; /* Oculta la quinta columna */
  }
}