.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  #player-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th:hover {
    cursor: pointer;
  }
  
  /* Agrega estilos adicionales para hacer la página responsive y atractiva */